/* Calculator Project Styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100vw;
    font-family: "Fuzzy Bubbles", sarif;
}

.header {
    Color: white;
    background-color: rgb(86, 143, 216);
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.footer {
    Color: white;
    background-color: rgb(86, 143, 216);
    height: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
}

.calcOutline {
    background-color: grey;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin: 50px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcInline {
    background-color: grey;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    height: 490px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcResult {
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    height: 100px;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

button {
    height: 60px;
    width: 60px;
    align-content: center; 
}

button:hover {
    border-style: solid;
    border-color: black;
}